{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

echo "⚙️ Building and switching profiles with Nix flakes."
nix run ~/nix-config#{{ .hostname }}.switch --show-trace --verbose

{{ end -}}