{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# next section is to tigger the script to run on change when the following files are modified
{{ $homeDir := .chezmoi.homeDir -}}
# flake.nix hash: {{ include (printf "%s/nix-config/flake.nix" $homeDir) | sha256sum }}
# flake.lock hash: {{ include (printf "%s/nix-config/flake.lock" $homeDir) | sha256sum }}
# apps.nix hash: {{ include (printf "%s/nix-config/modules/apps.nix" $homeDir) | sha256sum }}
# host-users.nix hash: {{ include (printf "%s/nix-config/modules/host-users.nix" $homeDir) | sha256sum }}
# nix-core.nix hash: {{ include (printf "%s/nix-config/modules/nix-core.nix" $homeDir) | sha256sum }}
# system.nix hash: {{ include (printf "%s/nix-config/modules/system.nix" $homeDir) | sha256sum }}

set -eufo pipefail

# Install and switch to the nix-darwin configuration
if ! command -v darwin-version >/dev/null 2>&1; then
    echo "📦 nix-darwin not installed. Installing."
    echo "⚙️ Building and switching nix-darwin configuration for {{ .hostname }}."
    nix run nix-darwin/master#darwin-rebuild --extra-experimental-features "nix-command flakes"  -- switch --flake ~/nix-config#{{ .hostname }} --show-trace --verbose
else
    echo "📦 nix-darwin already installed."
    echo "⚙️ Building and switching nix-darwin configuration for {{ .hostname }}."
    sudo darwin-rebuild switch --flake ~/nix-config#{{ .hostname }} --show-trace --verbose
fi

{{ end -}}