#!/bin/bash

set -eufo pipefail

# Factory Function: Check if a cheatsheetsitory exists and update it
check_and_update_cheatsheet() {
    local cheatsheet_repo_url=$1
    local cheatsheet_path=$2

    if [ -d "$cheatsheet_path" ]; then
        printf "📦 Cheatsheet exists, updating: $cheatsheet_path\n"
        cd "$cheatsheet_path" || exit
        git pull
    else
        printf "📦 cheatsheet does not exist, cloning: $cheatsheet_repo_url\n"
        git clone "$cheatsheet_repo_url" "$cheatsheet_path"
    fi
}

# download navi cheatsheets
check_and_update_cheatsheet "https://github.com/denisidoro/cheats" "$(navi info cheats-path)/denisidoro__cheats"

check_and_update_cheatsheet "https://github.com/denisidoro/navi-tldr-pages" "$(navi info cheats-path)/denisidoro__navi-tldr-pages"