repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.tmpl$
      - id: end-of-file-fixer
        exclude: \.tmpl$
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: \.tmpl$
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-merge-conflict
      - id: detect-private-key
  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]
        exclude: \.tmpl$
  # JSON/YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [json, yaml]
        exclude: (\.tmpl$|flake\.lock)
  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041, MD036, --]
        exclude: \.tmpl$
ci:
  autoupdate_schedule: monthly
  skip: [shellcheck, nixpkgs-fmt]
