[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = {{ .gitUsername }}
	email = {{ .gitEmail }}

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[core]
	pager = diff-so-fancy | less --tabs=4 -RF

[interactive]
	diffFilter = diff-so-fancy --patch
