# export PATH
export PATH=$PATH:$HOME/bin/

# fzf settings
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix'
export FZF_DEFAULT_OPTS='--height 50% --layout=reverse --border'
export FZF_CTRL_T_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_CTRL_T_OPTS='--preview "bat --color=always --style=numbers,header,changes,grid --line-range=:500 {}"'

# bat settings
export BAT_THEME="Dracula"

# gpg symmetric encryption
export GPG_TTY=$(tty)

export MAMBA_EXE='/opt/homebrew/bin/micromamba';
export MAMBA_ROOT_PREFIX='$HOME/.local/share/mamba';

{{ if eq .chezmoi.os "darwin" -}}

# Homebrew setup
if type "/opt/homebrew/bin/brew" >/dev/null 2>&1; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Added by OrbStack: command-line tools and integration
# Comment this line if you don't want it to be added again.
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

{{- if .work -}}
# Added by OrbStack: work-specific command-line tools and integration
export PATH="/opt/homebrew/opt/mysql-client/bin:$PATH"
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
{{- end -}}

{{ end -}}